@use '../../../../../stylesheets/variables.scss' as *;
@use '../../../../../stylesheets/mixins' as *;

.duration {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_emptyRecord {
    justify-content: end;
  }
}

.primary {
  color: $text-primary;
}

audio {
  /*border-radius: 90px;*/
  width: 250px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

audio::-webkit-media-controls-panel {
  background-color: $ui-background-player;
}

audio::-webkit-media-controls-play-button {
  background-color: $white;
  border-radius: 50%;
  color: $ui-accent;
}

.time {
  padding-right: 18px;
  text-align: end;
  opacity: 1;
  visibility: visible;
}
