@use '../../../stylesheets/variables.scss' as *;
@use '../../../stylesheets/mixins' as *;

.cell {
  @include font('SF Pro Display', $m-font-size, $normal, $text-secondary);
  @include line-sizes($xl-line-height);
  padding: 24px 0 20px;
  text-align: left;

  &:first-child {
    padding-left: 40px;
  }
  &:last-child {
    padding-right: 40px;
  }
}

.iconChevron {
  width: 18px;
  height: 21px;
  padding-right: 4px;
  color: $ui-icon;
  transform: rotate(180deg);
  vertical-align: bottom;
}
