@use '../../../stylesheets/variables.scss' as *;
@use '../../../stylesheets/mixins' as *;

.item {
  @include flex($align-items: center);
  box-sizing: border-box;
  padding: 7px 12px;
  transition: all 0.1s linear;

  &:hover {
    cursor: $cursor;
    background-color: $ui-background-dropdown;
  }
}

div.check {
  color: $text-check;
}
