@use '../../stylesheets/variables.scss' as *;
@use '../../stylesheets/mixins' as *;

.datePicker__wrapper {
  @include flex(row, space-between, center, 12px);
}

.iconChevronLeft {
  width: 18px;
  height: 21px;
  color: $ui-icon;
  transform: rotate(270deg);

  &:hover {
    color: $ui-accent;
  }
}

.iconCalendar {
  width: 16px;
  height: 18px;
  color: $ui-icon;
}

.titleCalendar {
  color: $ui-icon;
}

.iconChevronRight {
  width: 18px;
  height: 21px;
  color: $ui-icon;
  transform: rotate(90deg);

  &:hover {
    color: $ui-accent;
  }
}

.title {
  color: $ui-accent;
}

.button.button {
  gap: 8px;

  &:hover .iconCalendar {
    color: $ui-accent;
  }
}

.dropdown__wrapper {
  @include flex(row, $gap: 16px);
}

.dropdown{
  @include flex(column);
  width: 204px;
  background-color: $white;
  box-shadow: $big-dropdown-shadow;
  border-radius: $s-border-radius;
  position: absolute;
  top: 26px;
  right: 0px;
  z-index: 2;
}

.itemParent {
  @include font('SF Pro Display', $m-font-size, $normal, $text-header);
  @include line-sizes($extra-line-height);
}
