@use '../../../stylesheets/variables.scss' as *;
@use '../../../stylesheets/mixins' as *;

.tableWrapper {
  border-radius: $m-border-radius;
  background-color: #fff;
  box-shadow: $page-shadow;
  border-collapse: collapse;
}
