@use '../../../../../stylesheets/variables.scss' as *;
@use '../../../../../stylesheets/mixins' as *;

.wrapper {
  display: flex;
  gap: 4px;

  &_end {
    justify-content: end;
  }
}

.secondary {
  color: $text-secondary;
}

.iconChevron {
  width: 18px;
  height: 21px;
  color: $ui-icon;
  transform: rotate(180deg);
}
